.wrapper{
    background: #ffffff;
}

img{
    width: 100%;
}

._txt_title{
    font-size: 71px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    width: 65vw;
}
/*header*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 275px;
}

.header_title{
    width: 650px;
}

/*main*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_block_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title_block_1{
    margin-bottom: 165px;

}

.main_title_block_2{
    margin: 165px;
}

.main_foto_block_3{
    margin-top: 165px;
}

.main_title_block_4{
    margin: 165px;
}

.main_block_4_content{
    display: flex;
    justify-content: space-evenly;
    height: 900px;
}

.content_div{
    width: 350px;
    font-size: 25px;
    color: #000000;
    text-align: start;
    position: relative;
}


.content_div:not(:last-child){
    margin-bottom: 50px;
}

.line{
    width: 140px;
    height: 2px;
    background: black;
    margin-bottom: 50px;
}


/*footer*/
.footer_foto{
    margin-top: 165px;
}